:root {
    --white: #ECECEC;
    --black: #141414;
    --almost-black: #242C31;
    --gray: #aaa;
    --beige: #E1BF86;
    --orange: #BF642F;
    --dark-green: #474C33;
    --green: #938A5D;
    
    --regular: 'Cabin', sans-serif;
    --titles: 'Karla', sans-serif;
    
    --global-transition: .3s ease-in-out;
}